@import url("@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');");
@font-face {
  font-family: "Stretch Pro";
  src: url("../font/stretch_pro/StretchPro.otf;");
}
* {
  padding: 0;
  box-sizing: border-box;
  max-width: 1420px;
}
body {
  .container {
    .sardor {
      .S_contener {
        .S_section_one {
          border: 2px solid red;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .S_section_one_items {
            border: inherit;
            h1 {
              font-family: "Stretch Pro";
              font-style: normal;
              font-weight: 600;
              font-size: 70px;
              line-height: 68px;

              span {
                display: inline-block;
                width: 80px;
                height: 80px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          .S_section_two_items {
             border: inherit;
            }
          }
        }
        .S_section_two{
            display: grid;
            grid-template-columns: (1,3fr);
        }
      }
    }
  }
}
