@import url("@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');");
@font-face {
  font-family: "StretchPro";
  src: url("../font/stretch_pro/StretchPro.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #dddddd;
}
.container {
  .muhammadali {
    header {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .header_logo {
        cursor: pointer;
        padding-top: 58px;
        padding-left: 150px;
        padding-right: 234px;
      }
      nav {
        padding-right: 214px;
        padding-top: 56px;
        ul {
          display: flex;
          list-style-type: none;
          gap: 109px;
          li {
            cursor: pointer;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #121416;
            transition: all 0.4s;
            position: relative;
            &::before{
              content: "";
              width: 100%;
              height: 1.5px;
              background-color: #84b898;
              position: absolute;
              top: 100%;
              left: -100%;
              transition: all 0.4s;
              opacity: 0;
            }
            &:hover {
              &::before {
                top: 100%;
                left: 0%;
                opacity: 1;
              }
            }
          }
        }
      }
      .Sign_Up {
        padding-top: 45px;
        button {
          cursor: pointer;
          background: #84b898;
          border: 1px solid #84b898;
          box-shadow: 5px 10px 20px rgba(132, 184, 152, 0.46);
          font-family: "Stretch Pro";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 14px;
          color: #ffffff;
          width: 133px;
          height: 46px;
          transition: all 0.4s;
          &:hover{
            background-color: #ffffff;
            color: #84b898;
            border: 1px solid #ffffff;
          }
        }
      }
    }
    .m_section_one {
      padding-left: 143px;
      h1 {
        text-align: center;
        padding-top: 107px;
        padding-bottom: 34px;
        font-family: "StretchPro";
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 61px;
        color: #101418;
        span {
          img {
            width: 67px;
            height: 74px;
            transform: translateY(30%);
          }
          background: url(business-3d-red-and-white-megaphone.png);
          filter: drop-shadow(0px 10px 20px rgba(255, 1, 1, 0.34));
        }
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
        padding-bottom: 35px;
      }
      .m_section_one_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        :nth-of-type(1) {
          cursor: pointer;
        }
        :nth-of-type(2) {
          padding-left: 81px;
          :nth-of-type(1) {
            display: inline-block;
            h1 {
              padding-top: 155px;
              font-family: "Stretch Pro";
              font-style: normal;
              font-weight: 600;
              font-size: 30px;
              line-height: 45px;
              color: #101418;
              padding-right: 54px;
            }
            .m_section_one_grid_item_child_block {
              display: inline-block;
              span {
                transform: translate(435%, -240%);
              }
              h5 {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                text-align: center;
                text-transform: uppercase;
                color: #84b898;
                transform: rotate(-90deg);
                padding-left: 54px;
              }
            }
            p {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #000000;
            }
          }
          :nth-of-type(2) {
            justify-content: start;
            button {
              background: #101418;
              width: 174px;
              height: 52px;
              font-family: "Stretch Pro";
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 14px;
              color: #ffffff;
              margin-right: 47px;
              margin-top: 30px;
              justify-content: start;
              transition: all .4s;
              &:hover{
                background-color: #ffffff;
                color:#101418 ;
                border: 1px solid #ffffff;
              }
            }
            h6 {
              font-family: "StretchPro";
              font-style: normal;
              font-weight: 900;
              font-size: 14px;
              line-height: 14px;
              background: linear-gradient(
                90.55deg,
                #eabca0 0.1%,
                #faaf8b 98.96%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
            }
            span {
              transform: translateY(10%);
            }
          }
        }
      }
      .m_section_one_item {
        padding-bottom: 82px;
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        :nth-of-type(1) {
          display: inline;
          h1 {
            font-family: "Stretch Pro";
            font-style: normal;
            font-weight: 900;
            font-size: 60px;
            line-height: 61px;
            color: #101418;
          }
          p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #101418;
          }
        }
        :nth-of-type(2) {
          display: inline;
          h1 {
            font-family: "Stretch Pro";
            font-style: normal;
            font-weight: 900;
            font-size: 60px;
            line-height: 61px;
            color: #101418;
          }
          p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #101418;
          }
        }
        :nth-of-type(3) {
          padding-right: 100px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          :nth-of-type(2) {
            p {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #101418;
            }
            h1 {
              font-family: "Stretch Pro";
              font-style: normal;
              font-weight: 600;
              font-size: 60px;
              line-height: 61px;
              color: #101418;
            }
          }
        }
      }
    }
  }
}
