@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "StretchPro";
  src: url("../font/StretchPro.otf;");
}
.container {
  .abbos {
    .A_section_two {
    //   width: 100%;
    //   height: 473px;
      background-color: #d8e7e2;
      margin-left: 143px;
      display: grid;
      position: relative;
      grid-template-columns: repeat(2, 1fr);
      &::before {
        content: "";
        background: url("/Components/Abbos/image/hand12.png") no-repeat;
        background-size: 100% 100%;
        width: 70px;
        height: 40px;
        position: absolute;
        top: 126px;
        left: 0;
      }
      .A_section_two_item {
        &:nth-of-type(1) {
          .A_section_two_item_frame {
            width: 425px;
            height: 268px;
            padding-top: 10px;
            padding-left: 20px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        &:nth-of-type(2) {
            padding-bottom: 50px;
          h1 {
            width: 474px;
            font-family: "StretchPro";
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 45px;
            color: #101418;
            margin-right: 30px;
          }
          p {
            width: 497px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #101418;
            padding-top: 24px;
          }
          ul {
            li {
              list-style-type: none;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              padding-top: 19px;
            }
          }
        }
      }
    }
    .A_section_thyree {
      padding-left: 143px;
      .A_section_thyree_item {
        display: flex;

        &:nth-of-type(1) {
          width: 1300px;
          height: 600px;
          padding-top: 148px;
          .A_section_thyree_item_child {
            width: 50%;
            h1 {
              width: 730px;
              font-family: "StretchPro";
              font-style: normal;
              font-weight: 400;
              font-size: 53px;
              line-height: 60px;
              color: #101418;
              display: inline-block;
              img {
                width: 77px;
                height: 77px;
              }
            }
            p {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #101418;
              padding-top: 33px;
              padding-bottom: 89px;
            }
            button {
              width: 170px;
              height: 50px;
              font-family: "StretchPro";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 14px;
              color: #ffffff;
              background: #101418;
              &:hover {
                background-color: #fff;
                color: #101418;
                cursor: pointer;
              }
            }
          }
          .A_section_thyree_item_child-2 {
            width: 50%;
            padding-top: 98px;
            padding-left: 20px;
            .A_section_thyree_item_child_big_box {
              width: 500px;
              height: 320px;
              position: relative;
              border: 1px solid #c2ccc8;
              table {
                padding-top: 10px;
                td {
                  padding: 15px 15px 15px 15px;
                  font-family: "Poppins";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 21px;
                  color: #101418;
                }
              }
              img {
                width: 400px;
                height: 153px;
                position: absolute;
                top: 131px;
                left: 100px;
              }
              .A_section_thyree_item_child_box_litl {
                width: 290px;
                height: 120px;
                background: #c6dbce;
                position: absolute;
                top: -58px;
                left: 256px;
                .A_section_thyree_item_child_box_litl_img {
                  width: 56px;
                  height: 56px;
                  background-color: #84b898;
                  margin-top: 34px;
                  margin-left: 31px;
                  position: relative;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                    width: 30px;
                    height: 35px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-left: 13px;
                    margin-top: 10px;
                  }
                }
                h5 {
                  font-family: "Poppins";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 21px;
                  color: #101418;
                  position: absolute;
                  top: 37px;
                  left: 112px;
                }
                h1 {
                  font-family: "StretchPro";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  line-height: 20px;
                  color: #101418;
                  position: absolute;
                  top: 67px;
                  left: 112px;
                }
              }
            }
          }
        }
        &:nth-of-type(2) {
          width: 100%;
          height: 488px;
          .A_section_thyree_item_bloc1 {
            width: 260px;
            height: 480px;
            padding-top: 160px;
            p {
              transform: translateX(-189px);
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #000000;
              padding-top: 26px;
            }
            img {
              transform: translateX(-189px);
            }
          }
        }
      }
    }
    .A_section_four {
      width: 100%;
      height: 470px;
      position: relative;
      padding-left: 143px;
      .A_section_four_item {
        &:nth-of-type(1) {
          h1 {
            font-family: "StretchPro";
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            line-height: 80px;
            text-align: center;
            text-transform: capitalize;
            color: #101418;
            span {
              width: 110px;
              height: 65px;
              img {
                transform: translateX(25px) translateY(10px);

                width: inherit;
                height: inherit;
              }
            }
          }
        }
        &:nth-of-type(2) {
          display: flex;
          .A_section_four_item_child {
            &:nth-of-type(1) {
              display: flex;
              margin-left: 550px;
              .A_section_four_item_child_img {
                width: 135px;
                height: 52px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }

              h5 {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-decoration-line: underline;
                color: #000000;
              }
            }
            &:nth-of-type(2) {
                padding-top: 75px;
              img {
                width: 100%;
                height: 100%;
              }
              h5 {
                padding-right: 10px;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: right;
                color: #000000;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 1320px) {
        .A_section_two{
            .A_section_two_item{
                :nth-of-type(2){
                    h1{
                        font-size: 25x;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    width: 1440px;
}

}

